/* CSS declarations go here */

@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

div {
    /* border-style: solid; */
    /* padding: 1% 0 0 15%; */
    margin: 0 0 1% 0;
}

body {
}

h1 {
    margin: 5px;
  font-family: "estilo-script";
  }

#host {
    /* overflow: hidden; */
    /* width: 100%; */
    margin-top: -10px;
    margin-bottom: 10px;
    height: 206px;
    background: azure;
    width: 351px;
}

paper-button {
    cursor: default;
    height: 90px;
    /* width: 180px; */
    width: 100%;
    cursor: default;
    /* margin: 0; */
    background: azure;
    /* background-color: azure; */
    /* overflow: hidden; */
}


paper-button:hover {
    background-color: #eee;
}

li {
    list-style: none;
    padding: 0 0 0 3%;
}

.OT_edge-bar-item {
    display: none;
}

#host .OT_subscriber {
    margin: 11px 0 0 0 !important;
}

/* .nabar { */
/*     /\* height: 60px; *\/ */
/*     /\* line-height: 60px; *\/ */
/*     font-size: 18px; */
/*     padding: 0 10px; */
/*     background-color: #4F7DC9; */
/*     color: #FFF; */
/*     transition: height 0.2s; */
/* } */
