.vidBox, #serverVidBox {
  /* position: relative; */
  background: azure;
  /* width: 99%; */
  height: 198px;
  overflow: hidden;
  border-style: solid;
  border-width: .1em;
  margin-left: 2%;
  /* left: .85%; */
  /*  bottom: 3%; */
  }

video {
  position: center;
}


.column-left{
    float: left;
    width: 33%;
}
.column-right{
    float: left;
    width: 33%;
}
.column-centre{
    display: inline-block;
    width: 33%;
}